extends layout.pug
block content
    #map
    #leg_title 
        span#leg_items Controls
    //- #leg
    //-     each polygon, i in jmap
    //-         input(id=polygon._id)(type='checkbox', checked)
    //-         span#leg_items #{polygon._id}
    //-         br

    script(type='text/javascript').
        var stylelayer = {
            original: {
                color: "red",
                opacity: 1,
                fillcolor: "red",
                fillOpacity: 0.1,
                weight: 0.5
            },
            reset: {
                color: "red",
                opacity: 0.4,
                weight: 1
            },
            highlight: {
                weight: 5,
                color: '#0D8BE7',
                dashArray: '',
                fillOpacity: 0.7
            },
            selected: {
                color: "blue",
                opacity: 0.3,
                weight: 0.5
            }
        };

        var selectedFeatures = [];
        const maxNumFeaturesToSelect = 2;

        var map = L.map('map').setView([#{lat},#{lng}], 14);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        //- add visible polygon layer
        $.getJSON('/mapjson', {}, function(data){
             $.each(data, function(i, polygon) {
                addPolygon(polygon.geometry, "polygon_" + polygon._id); 

             });
        });
        
        function addPolygon(inputPolygon, name) {
            var polygon;
            if (inputPolygon.type == "Polygon")  {
                polygon = L.geoJson(inputPolygon, {
                    style: stylelayer.original,
                    onEachFeature: onEachFeature
                });
            }
            polygon.addTo(map);
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: selectFeature
            });
        }

        function highlightFeature(e) {
            console.log(selectedFeatures.length);
            var layer = e.target;
            layer.setStyle(stylelayer.highlight);
        }

        function resetHighlight(e) {
            console.log(selectedFeatures.length);
            var layer = e.target;
            var feature = e.target.feature;
            if (selectedFeatures.includes(feature)) {
                setStyleLayer(layer, stylelayer.highlight)
            } 
            else {
                setStyleLayer(layer, stylelayer.original)
            }
        }

        function selectFeature(e) {
            console.log(selectedFeatures);
            var layer = e.target;
            var feature = e.target.feature;

            if (selectedFeatures.includes(feature)) {
                removeSelection(feature, setStyleLayer, layer, stylelayer.original);

            } else {
                addSelection(feature, setStyleLayer, layer, stylelayer.highlight);
            }
        }

        function setStyleLayer(layer, styleSelected) {
            layer.setStyle(styleSelected);
        }

        function removeSelection(feature, callback) {
            selectedFeatures = selectedFeatures.filter(obj => obj.geometry.coordinates != feature.geometry.coordinates);
            callback(arguments[2], arguments[3]);
        }

        function addSelection(feature, callback) {
            if (selectedFeatures.length < maxNumFeaturesToSelect) {
                selectedFeatures.push(feature);
                callback(arguments[2], arguments[3]);
            }
            else {
                window.confirm("You can only select " + maxNumFeaturesToSelect + " features at a time.");
            }
        }

        //- $.getJSON('/maplayers',function(result){
        //-     $.each(result, function(i, mlayer){
        //-         $.getJSON('/mapjson/' + mlayer.name, function(data) { addLayer(data, mlayer.name ) });
        //-     });
        //- });

        //- function addLayer(layer, name) {
        //-     var leaf_layer;
        //-     if (layer.type == "MultiPoint") {
        //-         leaf_layer = L.geoJson(layer, { pointToLayer: function (feature, latlng) {return L.circleMarker(latlng, layer.style); }})
        //-         leaf_layer.bindPopup(layer.type);
        //-     } else if (layer.type == "MultiLineString") {
        //-         leaf_layer = L.geoJson(layer, {style: layer.style });
        //-         leaf_layer.bindPopup(layer.type);
        //-     } else  {
        //-         leaf_layer = L.geoJson(layer, {
        //-             style: function(feature) {
        //-                 switch (feature.properties.style) {
        //-                 case 'Orange': return {color: "#ff0000"};
        //-                 case 'Blue': return {color: "#0000ff"};
        //-             }
        //-             },
        //-             onEachFeature: function (feature, layer) {
        //-                  layer.bindPopup(feature.properties.name);
        //-              }
        //-          });
        //-     }
        //-     leaf_layer.addTo(map);
            
        //-     $('#' + name).click(function(e) {
                
        //-         if (map.hasLayer(leaf_layer)) {
        //-             map.removeLayer(leaf_layer);
        //-         } else {
        //-             map.addLayer(leaf_layer);
        //-         }
        //-     });
        //- }