extends layout.pug
block content
    #map
    #leg_title 
        span#leg_items Controls
    #leg
        button.btn.btn-primary(type='submit')(id='unionButton') Union
        button.btn.btn-primary(type='submit')(id='intersectButton') Intersect

    script(type='text/javascript').
        var stylelayer = {
            original: {
                color: "red",
                opacity: 1,
                fillcolor: "red",
                fillOpacity: 0.1,
                weight: 0.5
            },
            reset: {
                color: "red",
                opacity: 0.4,
                weight: 1
            },
            highlight: {
                weight: 5,
                color: '#0D8BE7',
                dashArray: '',
                fillOpacity: 0.7
            },
            selected: {
                color: "blue",
                opacity: 0.3,
                weight: 0.5
            }
        };

        var selectedFeatures = [];
        const maxNumFeaturesToSelect = 2;

        var map = L.map('map').setView([#{lat},#{lng}], 14);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        reloadMap();
        //- clearMap();
        //- clearMap(function(){reloadMap();});

        // add visible features to map
        function reloadMap() {
            console.log("Reloading map!");
            $.getJSON('/mapjson', {}, function(data){
                $.each(data, function(i, feature) {
                    addFeatureToMap(feature); 
                });
            });
        }

        //- function clearMap() {
        //-     for(i in map._layers) {
        //-         if(map._layers[i]._path != undefined) {
        //-             try {
        //-                 m.removeLayer(m._layers[i]);
        //-                 console("removed")
        //-             }
        //-             catch(e) {
        //-                 console.log("problem with " + e + m._layers[i]);
        //-             }
        //-         }
        //-     }
        //- }
        
        
        // adds feature to map (currently only supports Polygons and MultiPolygons)
        function addFeatureToMap(inputFeature) {
            if (inputFeature.geometry.type == "Polygon")  {
                var feature = L.geoJson(inputFeature.geometry, {
                    style: stylelayer.original,
                    onEachFeature: onEachFeature
                });
                feature.addTo(map);
            }
            else if (inputFeature.geometry.type == "MultiPolygon")  {
                var feature = L.polygon(inputFeature.geometry, {
                    style: stylelayer.original,
                    onEachFeature: onEachFeature
                });
                feature.addTo(map, function() {
                    console.log("successfully added mp " + feature);
                });
            }
            
        }

        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: selectFeature
            });
        }

        function highlightFeature(e) {
            var layer = e.target;
            layer.setStyle(stylelayer.highlight);
        }

        function resetHighlight(e) {
            var layer = e.target;
            var feature = e.target.feature;
            if (selectedFeatures.includes(feature)) {
                setStyleLayer(layer, stylelayer.highlight)
            } 
            else {
                setStyleLayer(layer, stylelayer.original)
            }
        }

        function selectFeature(e) {
            var layer = e.target;
            var feature = e.target.feature;

            if (selectedFeatures.includes(feature)) {
                removeSelection(feature, setStyleLayer, layer, stylelayer.original);

            } else {
                addSelection(feature, setStyleLayer, layer, stylelayer.highlight);
            }
        }

        function setStyleLayer(layer, styleSelected) {
            layer.setStyle(styleSelected);
        }

        function removeSelection(feature, callback) {
            selectedFeatures = selectedFeatures.filter(obj => obj.geometry.coordinates != feature.geometry.coordinates);
            callback(arguments[2], arguments[3]);
        }

        function addSelection(feature, callback) {
            if (selectedFeatures.length < maxNumFeaturesToSelect) {
                selectedFeatures.push(feature);
                callback(arguments[2], arguments[3]);
            }
            else {
                window.confirm("You can only select " + maxNumFeaturesToSelect + " features at a time.");
            }
        }

        //- union and intersect functionalities
        document.getElementById("unionButton").onclick = function(){unionPolygons();};
        document.getElementById("intersectButton").onclick = function(){intersectPolygons();};

        function unionPolygons() {
            if (selectedFeatures.length != maxNumFeaturesToSelect) {
                window.confirm("You must select " + maxNumFeaturesToSelect + " features to perform a union operation");
            }

            else {
                var poly1 = selectedFeatures[0];
                var poly2;
                for (i = 1; i < selectedFeatures.length; i++) {
                    poly2 = selectedFeatures[i];
                    poly1 = turf.union(poly1, poly2);
                }
                //- add union polygon to database
                addFeatureToDatabase(poly1);
                addFeatureToMap(poly1);

                //- hide selected polygons from union (but keep them in database)
                selectedFeatures.forEach(function(feature) {
                    hideFeatureInDatabase(feature);
                    //- hideFeatureInMap(feature);
                });

                //- unselect all selected polygons from union
                selectedFeatures = [];
            }
        }

        function intersectPolygons() {
            if (selectedFeatures.length != maxNumFeaturesToSelect) {
                window.confirm("You must select " + maxNumFeaturesToSelect + " features to perform a union operation");
            }

            else {
                var poly1 = selectedFeatures[0];
                var poly2;
                for (i = 1; i < selectedFeatures.length; i++) {
                    poly2 = selectedFeatures[i];
                    poly1 = turf.intersect(poly1, poly2);
                }
                //- add union polygon to database
                addFeatureToDatabase(poly1);
                addFeatureToMap(poly1);

                //- hide selected polygons from union (but keep them in database)
                selectedFeatures.forEach(function(feature) {
                    hideFeatureInDatabase(feature);
                    //- hideFeatureInMap(feature);
                });

                //- unselect all selected polygons from union
                selectedFeatures = [];
            }
        }

        function addFeatureToDatabase(feature) {
            //- make POST request to express
            $.ajax({
                url: '/addFeature', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify(feature)}
            );
        }

        function hideFeatureInDatabase(feature) {
            //- make POST request to express
            $.ajax({
                url: '/hideFeature', 
                type: 'POST', 
                contentType: 'application/json', 
                data: JSON.stringify(feature)}
            );
        }

        //- TODO: fix issue with removing layer
        //- function hideFeatureInMap(feature) {
        //-     console.log(map);
        //-     if (map.hasLayer(feature)) {
        //-         map.removeLayer(feature, function() {
        //-             console.log("successfully hid " + feature);
        //-         });
        //-     }
        //- }
        
